@model int

 
    <div class="container row pt-4">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center"> Order Placed Successfully</h1>
            Your order Number is : @Model <br />
            <i class="fa fa-check"></i>
        </div>
        <div class="col-12 text-center text-danger">
            Your order has been placed successfully!
        </div>
    </div>
 
 
