html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

 
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
 }

@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}


   